<div class="banner">
	<div class="container">
		<!-- responsiveslides -->
								<script src="/js/responsiveslides.min.js"></script>
									<script>
										// You can also use "$(window).load(function() {"
										$(function () {
										 // Slideshow 4
										$("#slider3").responsiveSlides({
											auto: true,
											pager: false,
											nav: false,
											speed: 500,
											namespace: "callbacks",
											before: function () {
										$('.events').append("<li>before event fired.</li>");
										},
										after: function () {
											$('.events').append("<li>after event fired.</li>");
											}
											});
											});
									</script>
		<!-- responsiveslides -->
		<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-info">
							<h2>HEAVEN IS IN YOUR HAND</h2>
							<p>Sed ut perspiciatis unde omnis iste natus
							error sit voluptatem accusantium doloremque
							laudantium, totam rem aperiam, eaque ipsa quae
							ab illo inventore veritatis et quasi architecto
							beatae vitae dicta sunt explicabo.Nemo enim ipsam
							voluptatem quia voluptas sit aspernatur aut odit
							aut fugit, sed quia consequuntur </p>
							<a href="single.html">READ MORE</a>
						</div>
					</li>
					<li>
						<div class="banner-info">
							<h2>DRINK MORE BEER AND GET MORE</h2>
							<p>Sed ut perspiciatis unde omnis iste natus
							error sit voluptatem accusantium doloremque
							laudantium, totam rem aperiam, eaque ipsa quae
							ab illo inventore veritatis et quasi architecto
							beatae vitae dicta sunt explicabo.Nemo enim ipsam
							voluptatem quia voluptas sit aspernatur aut odit
							aut fugit, sed quia consequuntur </p>
							<a href="single.html">READ MORE</a>
						</div>
					</li>
					<li>
						<div class="banner-info">
							<h2>100% PURE NATURAL INGREDIENTS</h2>
							<p>Sed ut perspiciatis unde omnis iste natus
							error sit voluptatem accusantium doloremque
							laudantium, totam rem aperiam, eaque ipsa quae
							ab illo inventore veritatis et quasi architecto
							beatae vitae dicta sunt explicabo.Nemo enim ipsam
							voluptatem quia voluptas sit aspernatur aut odit
							aut fugit, sed quia consequuntur </p>
							<a href="single.html">READ MORE</a>
						</div>
					</li>
				</ul>
		</div>
	</div>
</div>
<!-- <div class="banner-bottom">
	<div class="container">
		<div class="bottom-grids">

			<div class="clearfix"></div>
		</div>
	</div>
</div> -->
