<!DOCTYPE html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>{{title}}</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
   <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
   <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript" src="/js/shared.js"></script>
   <script type="text/javascript" src="/js/questions.js"></script>
   <script type="text/javascript" src="/js/user.js"></script>
   <script type="text/javascript" src="/js/beer.js"></script>
   <script type="text/javascript" src="/js/comment.js"></script>
   <script type="text/javascript" src="/js/like.js"></script>
   <script type="text/javascript" src="/js/style.js"></script>
   <script type="text/javascript" src="/js/move-top.js"></script>
   <script type="text/javascript" src="/js/easing.js"></script>
   <script type="text/javascript" src="/js/statistics.js"></script>
   <script type="text/javascript">
      jQuery(document).ready(function($) {
      	$(".scroll").click(function(event){
      		event.preventDefault();
      		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      	});
      });
   </script>
</head>
<body>
   {% include "templates/header.html" %}
   <div class="container">
     <div id="message">
            {% ifequal message.type "error" %}
           <div class="alert alert-danger alert-dismissable" id="error">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
         <div id="error-message">{{message.text}}</div>
      </div>
{% endifequal %}
          {% ifequal message.type "success" %}
      <div class="alert alert-success alert-dismissable" id="success">
         <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
         <div id="success-message">{{message.text}}</div>
      </div>
{% endifequal %}
     </div>
      {% block content %}{% endblock %}
   </div>
   {% include "templates/footer.html" %}
</body>
</html>
