{% extends "templates/base.html" %}
{% block content %}
<div class="row">
   <div class="col-lg-6 col-lg-offset-2">
      <h3>
         {{title}}
         <hr/>
      </h3>
      <form action="" name="beer" method="post" enctype="multipart/form-data">
         <div class="form-group form-group-lg">
            <input type="text" name="name" placeholder="Name"/>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline"><input type="radio" checked name="origin" value="0">Domestic</label>
            <label class="radio-inline"><input type="radio" name="origin" value="1">Imported</label>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline"><input type="radio" checked name="price" value="0">Expensive</label>
            <label class="radio-inline"><input type="radio" name="price" value="1">Cheap</label>
         </div>
         <div class="form-group form-group-lg">
            <label for="style">Style</label>
            <select id="style" name="style">
               {% for s in styles %}
               <option value="{{s.id}}">{{s.name}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline"><input type="radio" name="optradio" checked value="url">Image url</label>
           <label class="radio-inline"><input type="radio" name="optradio" value="upload">Upload image</label>
         </div>
         <div class="form-group form-group-lg" id="input-picture">
           <input type="text" id="pic-url" name="url" placeholder="Image url" value="{{beer.picture}}"/>
        </div>
         <div class="form-group form-group-lg">
            <input type="text" name="alcohol" placeholder="Alcohol (%)"/>
         </div>
         <div class="form-group form-group-lg">
            <input type="text" name="manufacturer" placeholder="Manufacturer"/>
         </div>
         <div class="form-group form-group-lg">
            <input type="text" name="country" placeholder="Country"/>
         </div>
         <div class="form-group form-group-lg">
            <textarea name="info" rows="5" placeholder="Info"></textarea>
         </div>
         <div class="form-group form-group-lg pull-right">
            <input type="button" value="Add" onclick="validation()"/>
         </div>
      </form>
   </div>
</div>
{% endblock %}
