{% extends "templates/base.html" %}
{% block content %}
<div class="row">
   <div class="col-lg-6 col-lg-offset-2">
      {{message}}
      <h3>
         {{title}}
         <hr/>
      </h3>
      <form action="" name="beer_add" method="post" enctype="multipart/form-data">
         <div class="form-group form-group-lg">
            <input type="text" name="name" placeholder="Name"/>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline"><input type="radio" checked name="origin" value="0">Domestic</label>
            <label class="radio-inline"><input type="radio" name="origin" value="1">Imported</label>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline"><input type="radio" checked name="price" value="0">Expensive</label>
            <label class="radio-inline"><input type="radio" name="price" value="1">Cheap</label>
         </div>
         <div class="form-group form-group-lg">
            <label for="beer_style">Beer style</label>
            <select id="beer_style" name="beer_style">
               {% for b in bs %}
               <option value="{{b.id}}">{{b.name}}</option>
               {% endfor %}
            </select>
         </div>
         <div class="form-group form-group-lg">
            <label class="radio-inline">
            <input type="radio" name="optradio" checked value="upload">Upload image</label>
            <label class="radio-inline">
            <input type="radio" name="optradio" value="url">Copy image url</label>
         </div>
         <div class="form-group form-group-lg">
            <input type="file" id="pic-upload" name="picture" accept="image/*" >
            <input style="display:none;" type="url" id="pic-url" name="picture_url" placeholder="Image url"/>
         </div>
         <div class="form-group form-group-lg">
            <input type="text" name="alcohol" placeholder="Alcohol (%)"/>
         </div>
         <div class="form-group form-group-lg">
            <input type="text" name="manufacturer" placeholder="Manufacturer"/>
         </div>
         <div class="form-group form-group-lg">
            <input type="text" name="country" placeholder="Country"/>
         </div>
         <div class="form-group form-group-lg">
            <textarea name="info" rows="5" placeholder="Info"></textarea>
         </div>
         <div class="form-group form-group-lg pull-right">
            <input type="submit" value="Add"/>
         </div>
      </form>
   </div>
</div>
{% endblock %}
