{% extends "templates/base.html" %}
{% block content %}
<div class="blog">
   <div class="blog-head">
      <h3>{{beer.name}}</h3>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div class="blog-img">
            <img src="{{beer.picture}}" class="img-responsive zoom-img"/>
         </div>
      </div>
      <div class="col-md-6">
         <div class="blog-info-text">
            <form action="" name="beer" method="post" enctype="multipart/form-data">
               <div class="form-group form-group-lg">
                  <input type="text" id="id" name="id" value="{{beer.id}}" readonly/>
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="name" id="name" placeholder="Name" value="{{beer.name}}"/>
               </div>
               <div class="form-group form-group-lg">
                  {% ifequal beer.origin "0" %}
                  <label class="radio-inline"><input type="radio" checked name="origin" value="0">Domestic</label>
                  <label class="radio-inline"><input type="radio" name="origin" value="1">Imported</label>
                  {% endifequal %}
                  {% ifequal beer.origin "1" %}
                  <label class="radio-inline"><input type="radio" name="origin" value="0">Domestic</label>
                  <label class="radio-inline"><input type="radio" checked name="origin" value="1">Imported</label>
                  {% endifequal %}
               </div>
               <div class="form-group form-group-lg">
                  {% ifequal beer.price "0" %}
                  <label class="radio-inline"><input type="radio" checked name="price" value="0">Expensive</label>
                  <label class="radio-inline"><input type="radio" name="price" value="1">Cheap</label>
                  {% endifequal %}
                  {% ifequal beer.price "1" %}
                  <label class="radio-inline"><input type="radio" name="price" value="0">Expensive</label>
                  <label class="radio-inline"><input type="radio" checked name="price" value="1">Cheap</label>
                  {% endifequal %}
               </div>
               <div class="form-group form-group-lg">
                  <label for="style">Style:</label>
                  <select id="style" name="style">
                     {% for style in styles %}
                     {% ifequal style.id beer.style %}
                     <option value="{{style.id}}" selected>{{style.name}}</option>
                     {% endifequal %}
                     {% ifunequal style.id beer.style %}
                     <option value="{{style.id}}">{{style.name}}</option>
                     {% endifunequal %}
                     {% endfor %}
                  </select>
               </div>
               <div class="form-group form-group-lg">
                  <label class="radio-inline"><input type="radio" name="optradio" checked value="url">Image url</label>
                  <label class="radio-inline"><input type="radio" name="optradio" value="upload">Upload image</label>
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" id="pic-url" name="picture_url" placeholder="Image url"  value="{{beer.picture}}"/>
                  <input style="display:none;" type="file" id="pic-upload" name="picture" accept="image/*" >
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="alcohol" id="alcohol" placeholder="Alcohol (%)" value="{{beer.alcohol}}"/>
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="manufacturer" id="manufacturer" placeholder="Manufacturer" value="{{beer.manufacturer}}"/>
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="country" id="country" placeholder="Country" value="{{beer.country}}"/>
               </div>
               <div class="form-group form-group-lg">
                  <textarea name="info" rows="5" id="info" placeholder="Info">{{beer.info}}</textarea>
               </div>
               <div class="form-group form-group-lg pull-right">
                  <input type="button" value="Edit" onclick="editBeer({{beer.id}})"/>
                  <input type="button" value="Delete" onclick="deleteBeer({{beer.id}})"/>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="blog-info">
         <div class="comment-icons">
            <ul>
               <li><span class="cmnts"></span> <a id="comments-count" data-toggle="collapse" href="#comments">{{comments|length}} comments</a></li>
               <li><a id="likes-count" href="#" class="like">{{likes|length}} likes</a></li>
            </ul>
         </div>
         <div class="response" id="comments">
            {% for c in comments %}
            <ul id="comments" class="comments">
               <li id="comment-{{c.id}}" class="comment clearfix">
                  <div class="clearfix">
                     <h4 class="pull-left">{{c.first_name}} {{c.last_name}}</h4>
                     <p class="pull-right">{{c.date}}</p>
                  </div>
                  <p>
                     <em>{{c.comment}}</em>
                     <button class="btn pull-right" onclick="deleteComment({{c.id}})">Delete comment</button>
                  </p>
               </li>
            </ul>
            {% endfor %}
         </div>
      </div>
   </div>
</div>
<div class="clearfix"> </div>
</div>
{% endblock %}
