{% extends "templates/base.html" %}
{% block content %}
      <div class="row">
         <div class="col-lg-12">
           <input type="text" name="search" placeholder="Search beers..." onkeyup="searchBeers(this.value);"/>
           <table id="table-beers" class="table">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Beer style</th>
              <th>Alcohol</th>
              <th>Manufacturer</th>
              <th>Country</th>
             </thead>
             <tbody>
               {% for b in beers %}
               <tr id="{{b.id}}" onclick="getBeer(this.id)" class="clickable-row">
               <td>{{b.id}}</td>
               <td>{{b.name}}</td>
               <td>{{b.sname}}</td>
               <td>{{b.alcohol}}</td>
               <td>{{b.manufacturer}}</td>
               <td>{{b.country}}</td>
               </tr>
               {% endfor %}
             </tbody>
           </table>
         </div>
      </div>
{% endblock %}
