{% extends "templates/base.html" %}
{% block content %}
{{message}}
<form action="" name="register" method="post">
  <div class="form-group form-group-lg">
  <input type="text" name="name" placeholder="Name"/>
  </div>
  <div class="form-group form-group-lg">
  <input type="radio" name="origin" checked value="1" /> Domestic
      <input type="radio" name="origin" value="0" />Imported
  </div>
  <div class="form-group form-group-lg">
  <input type="radio" name="price" checked value="1" /> Cheap
      <input type="radio" name="price" value="0" />Expensive
  </div>
  <div class="form-group form-group-lg">
    <select name="beer_style">
    <option>1</option>
          <option>1</option>
    <option>1</option>
    <option>1</option>
    </select>
  </div>
    <div class="form-group form-group-lg">
  <input type="text" name="alcohol" placeholder="Alcohol (%)"/>
  </div>
      <div class="form-group form-group-lg">
  <input type="text" name="manufacturer" placeholder="Manufacturer"/>
  </div>
        <div class="form-group form-group-lg">
  <input type="text" name="country" placeholder="Country"/>
  </div>
        <div class="form-group form-group-lg">
          <textarea name="info" placeholder="Info">
          </textarea>
  </div>
  <button type="submit">Add</button>

</form>
{% endblock %}
