{% extends "templates/base.html" %}
{% block content %}
<div class="row">
   <div class="col-lg-8 col-lg-offset-2">
      <input type="text" name="search" value="" placeholder="Search beer styles..." onkeyup="searchBeerStyles(this.value);"/>
      <table id="table-bs"  class="table">
         <thead>
            <th>ID</th>
            <th>Name</th>
         </thead>
         <tbody>
            {% for b in bs %}
            <tr id="{{b.id}}" onclick="getBeerStyle(this.id)" class="clickable-row">
               <td>{{b.id}}</td>
               <td>{{b.name}}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}
