<div class="footer-top">
	<div class="container">
		<div class="top-grids">
			<div class="col-md-3 top-grid">
				<h3>MAY 30, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 25, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 20, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 15, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="foot-line">
</div>
<!-- //foot-line -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
	</script>
<!-- //here ends scrolling icon -->
