<div class="footer-top">
	<div class="container">
		<div class="top-grids">
			<div class="col-md-3 top-grid">
				<h3>MAY 30, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 25, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 20, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="col-md-3 top-grid">
				<h3>MAY 15, <span>2015</span></h3>
				<p>At vero eos et accusamus
				et iusto odio dignissimos
				ducimus qui blanditiis praesentium
				voluptatum deleniti atque corrupti </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="foot-line">
</div>
<!-- //foot-line -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid">
				<h3>PERSPICIATIS</h3>
				<ul>
					<li><a href="#">SUMMER FEST</a></li>
					<li><a href="#">CELEBRATIONS</a></li>
					<li><a href="#">STOUT</a></li>
					<li><a href="#">PALE ALE</a></li>
					<li><a href="#">WINNERS</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>PRAESENTIUM </h3>
				<ul>
					<li><a href="#">PALE ALE</a></li>
					<li><a href="#">SEASIONAL MEDALS</a></li>
					<li><a href="#">PREMIUM LAGER BEERS</a></li>
					<li><a href="#">SUMMER FEST</a></li>
					<li><a href="#">STOUT</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>DIGNISSIMOS</h3>
				<ul>
					<li><a href="#">PREMIUM LAGER BEERS</a></li>
					<li><a href="#">SUMMER FEST</a></li>
					<li><a href="#">PALE ALE</a></li>
					<li><a href="#">STOUT</a></li>
					<li><a href="#">SEASIONAL MEDALS</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid">
				<h3>PRAESENTIUM</h3>
				<ul>
					<li><a href="#">SEASIONAL MEDALS</a></li>
					<li><a href="#">SUMMER FEST</a></li>
					<li><a href="#">PALE ALE</a></li>
					<li><a href="#">PREMIUM LAGER BEERS</a></li>
					<li><a href="#">SUMMER FEST</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
		<p> &copy; 2015 Brew. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
	</div>
</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
	</script>
<!-- //here ends scrolling icon -->
