<!DOCTYPE html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <title>{{title}}</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
   <link href="css/login.css" rel="stylesheet" type="text/css" media="all" />
   <link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
   <script type="text/javascript" src="js/user.js"></script>
</head>
<body>
   <div class="container">
      <div id="bg"></div>
      <div class="row">
         <div class="col-lg-4 col-lg-offset-4">
            {% if error %}
            <div class="alert alert-danger">
               <strong>{{error}}</strong>
            </div>
            {% endif %}
            <form action="" name="user" method="post">
               <div class="form-group form-group-lg">
                  <input type="text" name="username" id="username" placeholder="Username" class="class="form-control" autofocus/>
               </div>
               <div class="form-group form-group-lg">
                  <input type="password" name="password" id="password" placeholder="Password" class="class="form-control"/>
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="name" id="name" placeholder="Name" class="class="form-control">
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="surname" id="surname" placeholder="Surname" class="class="form-control">
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="email" id="email" placeholder="Email" class="class="form-control">
               </div>
               <button type="submit">Register</button>
            </form>
            Already have an account? Login <a href="/login">here</a>
         </div>
      </div>
   </div>
</body>
</html>
