{% extends "templates/base.html" %}
{% block content %}
<div class="about">
   <div class="about-info">
      <h3>{{style.name}}</h3>
   </div>
   <div class="about-grids">
      <div class="col-md-12 about-grid">
         <p> {{style.description}}</p>
      </div>
   </div>
</div>
<div class="business-team">
   <div class="team-info">
      <h3>BEERS</h3>
   </div>
   <div class="business-grids">
      {% for b in beers %}
<div class="square">
   <div class="content-pic">
        <div class="table">
            <div class="table-cell">
                <a href="/beer/{{b.id}}"> <img class="rs" src="{{b.picture}}"/></a>
                {{b.name}}
            </div>
        </div>
    </div>
</div>
      {% endfor %}
   </div>
   <div class="clearfix"></div>
</div>
{% endblock %}
