{% extends "templates/base.html" %}
{% block content %}
<div class="about">
   <div class="about-info">
      <h3>{{style.name}}</h3>
   </div>
   <div class="about-grids">
      <div class="col-lg-5">
        <form name="style">
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" rows="5" id="description" placeholder="Description">{{style.description}}</textarea>
          </div>
        </form>
        <input class="pull-right" type="button" value="Edit" onclick="editStyle({{style.id}})"/>
      </div>
      <div class="col-lg-7">
        <h4>Beers:</h4>
      <table class="table">
       <thead>
       <th>Name</th>
       <th>Action</th>
       </thead>
       <tbody>
         {% for b in beers %}
         <tr id="{{b.id}}">
            <td>{{b.name}}</td>
           <td>
             <a href="/beer/{{b.id}}">View</a>
           <button class="btn" onclick="deleteBeerFromStyle({{b.id}})">Delete</button>
           </td>
         </tr>
      {% endfor %}
       </tbody>
     </table>
     </div>
   </div>
</div>

{% endblock %}

